body{
}


.textbox{
  width: 100%;
  height: 85%;
  position:absolute;
  bottom:0px;
  margin:auto;
  background-color: #555555;
  opacity: 0.8;
}

.backlog{
  display: block;
  margin: auto;
  height:100%;
  width:60%;
  background-color: #222222;

}

.storytext{
  font-size: 20px;
  color: white;
}

.textgroup{
  position: absolute;
  bottom:0px;
  left: 15%;
  right: 15%;
  width:70%;
  height:30%;
}


#backlogbtns{
  float: right;
  display:inline-block;

}

#textboxbtns{
  position:absolute;
  float: right;
  top:0px;
  right:0px;
}
