body{
}

.textbox{
  width: 100%;
  height: 85%;
  position:absolute;
  bottom:0px;
  margin:auto;
  background-color: #555555;
  padding: 10;
  opacity: 0.8;
}

.backlog{
  display: block;
  margin: auto;
  position:absolute;
  bottom: 10px;
  height: 90%;
  left: 15%;
  right: 15%;
  width: 70%;
}

.storytext{
  font-size: 20px;
  color: white;
}

.textgroup{
  position: absolute;
  bottom: 0px;
  left: 15%;
  right: 15%;
  width: 70%;
  height: 30%;
}

.thumbnails{
  width:10%;
  margin:10px;
}

.gallery{
  display:block;
  margin:auto;
  width:70%;
}

#backlogbtns{
  float: right;
  display:inline-block;
}

#textboxbtns{
  position:absolute;
  float: right;
  top:0px;
  right:0px;
}

.backlogtextbox{
  opacity: 0.8;
  padding:10;
  background-color: #555555;
  position:absolute;
  bottom: 0px;
  left:0px;
  right:0px;
  height: 95%;
}
