<html ng-app='game'>
<head>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script type="text/javascript" src="scripts/angular.min.js"></script>
<script type="text/javascript" src="scripts/app.js"></script>

<link rel="stylesheet" href="main.css">
  <title>
    My Angular JS Game
  </title>
</head>
<body ng-controller="GameController as gc">

    <!-- Navigation bar code here -->

  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li ng-class="{'active': gc.currentTab === 'game'}"><a href="#" ng-click="gc.setTab('game')">Game</a></li>

            <li ng-class="{'active': gc.currentTab === 'gallery'}"><a href="#" ng-click="gc.setTab('gallery')">Gallery</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li ng-class="{'active': gc.currentTab === 'settings'}"><a href="#" ng-click="gc.setTab('settings')">Settings</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <!-- Visual novel UI screen -->
  <div class="game" ng-show= "gc.currentTab === 'game'" >
<div class="cgimage" ng-style="{'background':'transparent url(' + gc.backgroundImage + ')', 'background-repeat': 'no-repeat', 'background-size' : '100%'}" ng-show="gc.currentTab ==='game'" ng-click="gc.forward()"> </div>
    <div class ='backlog' ng-show= "gc.showBacklog">

    <button ng-click="gc.toggleBacklog()" class="btn btn-default" id="backlogbtns"><span class="glyphicon glyphicon-remove" aria-hidden="true"></button>
      <div class="backlogtextbox">
      <p ng-repeat="line in gc.backlogQueue track by $index" class="storytext">
        > {{line}}
      </p>
      <p ng-show="gc.backlogQueue.length === 0" class="storytext">
        No backlog to display
      </p>
    </div>

    </div>
    <br>
    <div class="textgroup" ng-hide="gc.showBacklog">
      <div class='btn-group' id="textboxbtns">
        <button ng-click="gc.toggleBacklog()" class="btn btn-default">Backlog</button>
        <button ng-click="" class="btn btn-default">Save</button>
        <button ng-click="" class="btn btn-default">Load</button>
        <button ng-click="gc.hideTextBox()" class="btn btn-default">Hide</button>
      </div>
    <div class="textbox" ng-click="gc.forward()">
      <p class="storytext" ng-click="gc.forward()">
        {{gc.lines[gc.currentLine]}}
        <span class="glyphicon glyphicon-play" id="nextpage" aria-hidden="true">
      </p>
    </div>


</div>
    </div>

    <!-- Gallery code -->

    <div class='gallery' ng-show="gc.currentTab === 'gallery'" ng-controller="GalleryController as glc">
      <img ng-repeat="i in gc.images track by $index" ng-src="{{i}}" class="thumbnails" ng-click="glc.expand()">

    </div>

    <!-- Settings screen code -->

    <form class='settings' ng-show="gc.currentTab === 'settings'" ng-controller="SettingsController as settingCtrl">
        Graphics quality
        <input type="radio" name="testSetting" value="1" class="form-check">High</input>
        <input type="radio" name="testSetting" value="2">Medium</input>
        <input type="radio" name="testSetting" value="3">Low</input>
    <p>
      Text Speed
      <ul class="pagination">
    <li>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
    </li>
  </ul>


    </form>

</body>
</html>
