body {
  background-image: url("res/images/gallerybg.png");

}

nav{

  position:fixed;
  top:0px;
  z-index:1;

}

.textbox{
  width: 100%;
  height: 85%;
  position:absolute;
  bottom:0px;
  margin:auto;
  background-color: #555555;
  padding: 10;
  opacity: 0.8;
}

.cgimage{
  z-index:0;
  position:fixed;
  bottom:0px;
  width:100%;
  height:100%;
}

.backlog{
  display: block;
  margin: auto;
  position:absolute;
  bottom: 10px;
  height: 90%;
  left: 15%;
  right: 15%;
  width: 70%;
}

.storytext{
  font-size: 20px;
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.storytext:hover{
  cursor: default;
}

.textgroup{
  position: absolute;
  bottom: 0px;
  left: 15%;
  right: 15%;
  width: 70%;
  height: 30%;
}

.thumbnails{
  display: inline-block;
  align-self: center;
  width: 32%;
  margin:10px;
  opacity: 0.8;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.thumbnails:hover{
  opacity: 1;
}

.gallery{

  display:flex;
  flex-wrap:wrap;
  margin:auto;
  width:80%;
}

#nextpage{
  color: white;
  float: right;
  bottom: 0px;
}

#backlogbtns{
  float: right;
  display:inline-block;
}

#textboxbtns{
  position:absolute;
  float: right;
  top:0px;
  right:0px;
}

.backlogtextbox{
  opacity: 0.8;
  padding:10;
  background-color: #555555;
  position:absolute;
  bottom: 0px;
  left:0px;
  right:0px;
  height: 95%;
}
